.title {
    align-items: center;
    display: flex;
    font-size: 1em;
    font-weight: bold;
    height: 48px;
    left: var(--horizontal-padding);
    position: fixed;
    top: var(--vertical-padding);
    z-index: 1;
}
