
.menu{

    background-color: var(--brutal-white);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-flow: column nowrap;
    font-weight: bold;
    gap: .5em;
    padding: 1em;
    position: relative;
    right: 0;
    text-align: right;
    top: 3em;
    z-index: 2;

}
