
.menu{

    background-color: var(--brutal-white);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-flow: column nowrap;
    font-weight: bold;
    gap: 1em;
    padding: 1em;
    position: relative;
    text-align: right;
    z-index: 2;

    a{

        font-size: 1.5em;

    }

}
