
.button {

    appearance: none;
    background-color: var(--brutal-yellow);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--color-font);
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: .5em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition:
        background-color 1s ease-out,
        transform 150ms ease;
    width: fit-content;

    &:active{

        transform: scale(.99);

    }

}
