
.container{

    align-items: center;
    color: var(--color-font-contrast);
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
    mix-blend-mode: difference;
    width: 100vw;

    .marquee{

        overflow: hidden;
        position: relative;
        width: 100%;

        .track{

            display: flex;
            flex-flow: row nowrap;
            width: 100%;

            .text{

                font-size: 16vw;
                font-weight: bold;
                line-height: 16vw;
                text-transform: uppercase;
                user-select: none;
                white-space: nowrap;

                span{

                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 4px var(--color-font-contrast);

                }

            }

        }

    }

}
