
.meme{

    text-decoration: underline;

    &:hover{

        cursor: zoom-in;

        a{

            cursor: pointer;

        }

    }

    img{

        left: 0;
        position: fixed;
        top: 0;

    }

}
