.word {
    display: flex;
    flex-flow: row nowrap;
    font-size: clamp(16vw, 100vw, 0%);
    font-weight: bold;
    line-height: clamp(200px, 20rem, 100%);
    overflow: hidden;
    text-transform: uppercase;
    transition: color 1s ease-out;
    user-select: none;
}

.word .delimeter {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px var(--text-amplified);
}

.word .letter {
    position: relative;
}
