
.toggle{

    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: .5em;
    justify-content: space-between;

    .track{

        background-color: var(--brutal-white);
        border: var(--border);
        border-radius: 1em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        transition: background-color .2s ease-out;
        width: 2.5em;

        &.active{

            background-color: var(--brutal-black);
            justify-content: flex-end;

            .knob{

                background-color: var(--brutal-white);
                border-color: var(--brutal-white);

            }

        }

        .knob{

            background-color: var(--brutal-black);
            border: 2px solid var(--brutal-white);
            border-radius: 1em;
            height: 1em;
            transition: border-color .2s ease-out, background-color .2s ease-out;
            width: 1em;

        }

    }

    .label{

        font-size: .6em;
        font-weight: bold;
        text-transform: uppercase;

    }

    &:hover{

        cursor: pointer;

    }

}
