
.navigation{

    position: fixed;
    right: var(--horizontal-padding);
    top: var(--vertical-padding);
    z-index: 1;

    &:hover{

        cursor: pointer;

    }

    .button{

        align-items: center;
        background-color: var(--brutal-white);
        border: var(--border);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        display: flex;
        height: 48px;
        justify-content: center;
        width: 48px;
        z-index: 2;

    }

    .wrapper{

        position: absolute;
        right: 0;
        top: 3em;

    }

}
