
.navigation{

    align-items: center;
    background-color: var(--brutal-white);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    height: 48px;
    justify-content: center;
    position: fixed;
    right: var(--horizontal-padding);
    top: var(--vertical-padding);
    width: 48px;
    z-index: 1;

    &:hover{

        cursor: pointer;

    }

    .wrapper{

        position: absolute;
        right: 0;
        text-align: right;
        top: 0;

    }

}
