
.card{

    background-color: var(--brutal-white);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    width: 100%;

    .title{

        background-color: var(--brutal-green);
        border-bottom: var(--border);
        padding: 1em;

        h2{

            margin: 0;

        }

    }

    .body{

        padding: 1em;

    }

    &:nth-of-type(2){

        .title{

            background-color: var(--brutal-yellow);

        }

    }

    &:nth-of-type(3){

        .title{

            background-color: var(--brutal-red);

        }

    }

}
