
.scroller{

    border-radius: 2em;
    bottom: 32px;
    height: 2em;
    overflow: hidden;
    position: absolute;
    right: 32px;
    width: .25em;

    .indicator{

        background-color: var(--color-font);
        border-radius: 2em;
        height: 100%;
        position: relative;
        width: 100%;

    }

}
