
.footer{

    color: var(--color-font-contrast);
    display: grid;
    grid-template-areas: "title links";
    mix-blend-mode: difference;
    padding: var(--padding);

    .title{

        grid-area: title;

    }

    .links{

        grid-area: links;

    }

}
