
.contact{

    padding: 6em var(--horizontal-padding);
    position: relative;

    .socials{

        display: flex;
        flex-flow: row wrap;
        gap: 1em;

    }

    .social{

        a{

            align-items: center;
            background-color: var(--brutal-white);
            border: var(--border);
            border-radius: 5em;
            box-shadow: var(--box-shadow);
            display: flex;
            height: 5em;
            justify-content: center;
            transition: transform .3s ease-out;
            width: 5em;

            svg{

                fill: var(--brutal-yellow);

            }

            &:hover{

                transform: scale(1.1) rotate(-8deg);

            }

        }

        &:nth-child(2){

            svg{

                fill: var(--brutal-purple);

            }

        }

        &:nth-child(3){

            svg{

                fill: var(--brutal-blue);

            }

        }

    }

}
