
.app{

    height: 100vh;
    overflow: hidden;
    width: 100vw;

    .screen{

        align-items: center;
        background-color: var(--background);
        display: flex;
        height: 100vh;
        justify-content: center;
        left: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 2;

        span{

            background-color: var(--brutal-white);
            border: var(--border);
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            font-size: calc(var(--vw) * 3);
            font-weight: bold;
            padding: .5em;
            text-transform: uppercase;

        }

    }

    &.loaded{

        height: auto;
        overflow: auto;
        width: auto;

    }

}
