
@font-face {

    font-display: swap;
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");

}

@font-face {

    font-display: swap;
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/JetBrainsMono-Bold.ttf") format("truetype");

}
