
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap");

@font-face {

    font-display: swap;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    src: inherit;

}

:root{

    // Brutal colours

    --brutal-blue: #38dbff;
    --brutal-yellow: #fff503;
    --brutal-orange: #ffb443;
    --brutal-red: #ff5d5d;
    --brutal-green: #00ff75;
    --brutal-purple: #dd7dff;
    --brutal-black: #000;
    --brutal-white: #fff;

    // Static theme properties

    --border-size: 4px;
    --border: var(--border-size) solid var(--color-border);
    --box-shadow: .4em .4em 0 var(--color-border);
    --horizontal-padding: 10vw;
    --vertical-padding: 2vh;
    --padding: var(--vertical-padding) var(--horizontal-padding);
    font-size: 20px;

}

html,
body {

    background-color: var(--background);
    color: var(--color-font);
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
    transition: background-color .6s ease-out;

}

h1 {

    font-size: 8em;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;

}

a {

    color: inherit;
    text-decoration: none;

}

* {

    box-sizing: border-box;

}
