
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap");

@font-face {

    font-display: swap;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    src: inherit;

}

:root{

    --color-primary: #faff00;
    --color-secondary: #000;
    --color-background: #000;
    --color-border: #334;
    --color-font: #faff00;
    --horizontal-padding: 10vw;
    font-size: 20px;

}

html,
body {

    background-color: var(--color-background);
    color: var(--color-font);
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;

}

a {

    color: inherit;
    text-decoration: none;

}

* {

    box-sizing: border-box;

}
