
.about{

    padding: 6em var(--horizontal-padding);
    position: relative;

    h1{

        color: var(--color-font-contrast);
        mix-blend-mode: difference;

    }

    .cards{

        display: flex;
        flex-direction: row;
        gap: 2em;

    }

}
