
.about{

    padding: 6em var(--horizontal-padding);
    position: relative;

    h1{

        color: var(--color-font-difference);
        grid-column: 1 / 13;
        mix-blend-mode: difference;

    }

    .bio{

        background-color: var(--foreground);
        border: var(--border);
        border-radius: .5em;
        box-shadow: var(--box-shadow);
        grid-column: 1 / 13;
        padding: 2em;

    }

    .blend{

        grid-column: 1 / 2;

    }

    .glue{

        grid-column: 7 / 11;

    }

    .employed{

        grid-column: 7 / 11;
        margin-top: 3em;

    }

    .large{

        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 3em;
        text-transform: uppercase;

    }

}
